[submodule "external/ParGeo"]
	path = external/ParGeo
	url = https://github.com/michaelyhuang23/ParGeo.git
[submodule "external/parlaylib"]
	path = external/parlaylib
	url = https://github.com/michaelyhuang23/parlaylib.git
